MONGODB_DATABASE_URL="mongodb+srv://user:<password>@cluster...mongodb.net"
MONGODB_PASSWORD="passwordThatGoesinURL"
JWT_EXPIRE="90d" # 90 days
JWT_COOKIE_EXPIRE_DAYS=90
JWT_SECRET_KEY="key"
MAILER_HOST="url"
MAILER_PORT="port"
MAILER_AUTH_USER="email"
MAILER_AUTH_PASS="apikey"