<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monekt - <%= title %></title>
    <link rel="stylesheet" href="css/output.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    <%- include('templates/alert') %>
    <h1><%= text %></h1>
    <button id="logout">Log out</button>
    <%- include('templates/languageSelect', locale) %>
  </body>
</html>
