@import "general.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #00a58e;
  --color-secondary: #e8edf1;
  --color-secondary-darker: #bac7d5;
  --color-text: #252a31;
  --color-text-light: #697d95;
  --border-radius: 9px;
  --color-error: #d21c1c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100dvw;
  margin-top: 6rem;
}

.search {
  margin: 1.2rem auto 2rem auto;
  width: 100%;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--color-secondary-darker);
  border-radius: 9px;
  gap: 1rem;
}

.search__icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.search__label {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--color-text);
}

.search__input {
  border: none;
  flex-grow: 1;
  min-width: 0;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
  margin-right: 1px;
}

.search__input:focus {
  outline: none;
}

.container {
  width: 120rem;
  margin: 0 auto;
  justify-content: center;
  gap: 6rem;
}

.aside {
  width: 25rem;
}

.user-data {
  align-self: center;
  text-align: center;
}

.profile-photo {
  width: 7.2rem;
  height: 7.2rem;
  margin-bottom: 1.2rem;
}

.username {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--color-text);
  margin-bottom: 3.2rem;
}

.side-nav ul {
  list-style: none;
}

.nav__item {
  width: fit-content;
  padding: 1.2rem 1.4rem;
  border-radius: 9px;
  margin: 0.4rem 0;
}

.nav__item.nav__item--active {
  background-color: #c8e7e2;
}

.nav__item--active .nav__link {
  color: #2d6556;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
  text-decoration: none;
  color: #4da38d;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

.nav__icon path {
  fill: #a5cdc6;
}
.nav__item--active .nav__icon path {
  fill: hsl(170, 29%, 50%);
}

.nav__separator {
  width: 100%;
}

main {
  width: 60rem;
}

.create-a-post {
  width: 60rem;
  height: 18rem;
  border-radius: 9px;
  background-color: #e9f6f4;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.6rem 2rem;
  margin-bottom: 1.2rem;
}

.create__date {
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

#create__text {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  height: 8rem;
  margin-bottom: 1rem;
  resize: none !important;
  font-family: inherit;
}

#create__text:focus {
  outline: none;
}

.post {
  width: 60rem;
  border-radius: 9px;
  background-color: #fff;
  padding: 1.6rem 2rem;
  margin-bottom: 1.2rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.article-header {
  gap: 1rem;
  margin-bottom: 1rem;
}

.post__profile-photo {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
}

.post__username {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var((--color-text));
}

.post__date {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-text);
  font-style: italic;
}

.article-body {
  margin-bottom: 1rem;
}

.post__text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--color-text);
}

.article-footer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.btn--post {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.btn__icon path {
  fill: var(--color-text);
}

.btn__text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-text-light);
}
