* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #00a58e;
  --color-secondary: #e8edf1;
  --color-secondary-darker: #bac7d5;
  --color-text: #252a31;
  --color-text-light: #697d95;
  --border-radius: 9px;
  --color-error: #d21c1c;
  --color-pw-poor: #d2a81c;
  --color-pw-good: #92d21c;
  --color-pw-excellent: #2bd21c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-bottom: 9.6rem;
  gap: 1.8rem;
}

/****************************************/
/* GENERAL */
/****************************************/
.heading--primary {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: var(--color-text);
}

.margin-b-sm {
  margin-bottom: 1.8rem;
}

.margin-b-md {
  margin-bottom: 3rem;
}

.margin-b-xl {
  margin-bottom: 8.6rem;
}

.margin-t-l {
  margin-top: 4.8rem;
}

.container {
  width: 36rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-r {
  justify-content: right;
}
.flex-jc-sb {
  justify-content: space-between;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-secondary);
  border: none;
}

.link:link,
.link:visited {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s;
}

.link:hover,
.link:active {
  color: color-mix(in oklab, var(--color-text) 60%, #fff 40%);
  cursor: pointer;
}

.link.link--primary:link,
.link.link--primary:visited {
  color: var(--color-primary);
}

.link.link--primary:hover,
.link.link--primary:active {
  color: color-mix(in oklab, var(--color-primary) 90%, #000 20%);
  cursor: pointer;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  cursor: pointer;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: color-mix(in oklab, var(--color-primary) 90%, #000 10%);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: color-mix(in oklab, var(--color-secondary) 90%, #000 10%);
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.grid {
  display: grid;
  gap: 1.2rem 1.2rem;
}

.grid-2-c {
  grid-template-columns: 1fr 1fr;
}

.field--signup {
}

.field__input {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text);
  width: 25rem;
  padding: 1.2rem;
  border: 1px solid var(--color-secondary-darker);
  border-radius: var(--border-radius);
}

.field__input::placeholder {
  font-style: italic;
  font-weight: 400;
  color: var(--color-text-light);
}

.field__title {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}

#signup__password {
  margin-bottom: 0.4rem;
}

.password-strength {
  --strength-color: var(--color-error);
}

.strength {
  position: relative;
  width: 12rem;
  height: 0.4rem;
  background-color: var(--color-secondary);
  border-radius: 100px;
  overflow: hidden;
}

.strength-fill {
  background-color: var(--strength-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 0rem;
  height: 0.4rem;
}

.strength-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--strength-color);
}

.fields__signup {
  margin-bottom: 1.8rem;
}

.fields__birth {
  gap: 1.2rem;
  margin-bottom: 1.8rem;
}

.birth__title {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.4rem;
  align-self: flex-end;
  font-style: italic;
}

.field__birth {
  display: flex;
  flex-direction: column;
}

.field__birth label {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--color-text);
}

.field__birth input,
.field__birth select {
  width: 10rem;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--color-secondary-darker);
  border-radius: var(--border-radius);
  color: var(--color-text-light);
}

.fields__gender {
  gap: 1.8rem;
}

.fields__gender div {
  gap: 0.8rem;
}

.fields__gender label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--color-text);
}

.fields__gender input {
}

#select__language {
  padding: 0.6rem 1.2rem;
  background-color: #fff;
  border: 1px solid var(--color-secondary-darker);
  border-radius: var(--border-radius);
  color: var(--color-text-light);
  margin-right: 26rem;
}

.signup,
.login {
  transition: all 0.3s;
}

.form__field {
  position: relative;
  display: flex;
  width: 32rem;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-secondary-darker);
  padding: 1.4rem 1.2rem;
  align-items: center;
  gap: 1.2rem;
}

.input__validation:not(.hidden) + .form__field {
  border: 1px solid var(--color-error);
}

.form__field:focus-within,
.field--signup input:focus-within {
  outline: 1px solid currentColor;
  outline-offset: 0.2rem;
}

.form__field label {
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.form__field input {
  flex-grow: 1;
  color: var(--color-text);
  font-size: 1.6rem;
  line-height: 2.4rem;
  outline: none;
  border: none;
}

.form__field input::placeholder {
  color: var(--color-text-light);
}

#password::placeholder {
  font-weight: 700;
}

#email::placeholder {
  font-style: italic;
}

.input__validation {
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  align-self: flex-start;
}

.validation__icon {
  color: var(--color-error);
}

.validation__text {
  color: var(--color-error);
  font-weight: 500;
  font-size: 1.2rem;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  height: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg-box {
  --msg-color: red;
  position: absolute;
  top: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: color-mix(in oklab, var(--color-secondary) 20%, #fff 80%);
  width: fit-content;
  padding: 1.2rem 1.6rem;
  border-radius: var(--border-radius);
  margin: 1.2rem auto;
  border: 1px solid var(--msg-color);
  z-index: 1001;
  transition: top 0.3s ease-in-out;
}
.msg-hidden {
  top: -50rem;
}

.msg-icon {
  color: var(--msg-color);
}

#msg-text {
  color: var(--msg-color);
  font-weight: 400;
  font-size: 1.6rem;
}

.loading {
  margin: 0 auto;
  width: min-content;
}

.overlay.hidden .loading {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 700ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.15s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.13s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.05s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
