<div class="mt-4 space-x-2 text-sm font-normal text-gray-600">
  <a href="?lang=en" class="hover:text-gray-900">
    <%= locale.language.english.name %></a
  >
  <a href="?lang=hr" class="hover:text-gray-900">
    <%= locale.language.croatian.name %></a
  >
</div>
